<!DOCTYPE html>
<html>

	{% if page.title != 'index' %}
	    {% include head.html %}
		{% seo %}
	{% else %}
		{% include index_head.html %}
	{% endif %}


<body id="page-top" class="landing-page">

	{% if page.title != 'index' %}
	    {% include header.html %}
	{% endif %}

    {{ content }}

	{% if page.title != 'index' %}
	    {% include footer.html %}
	{% else %}
		{% include index_foot.html %}
	{% endif %}

</body>

	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
</html>
